.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 15px;

  font-family: $custom-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-white;
  text-transform: uppercase;

  background-color: $basic-green;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: $style-green;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
