.case {
  background-color: $background-color;
  padding-top: 25px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 60px;
    background: linear-gradient(to top, $style-gray-200 0 462px, transparent 462px 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $basic-gray 0 460px, transparent 460px 100%);
    padding-top: 0;
    padding-bottom: 15px;
    margin: 0;
  }
}

.case__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.case__title {
  margin: 0;
  margin-bottom: 44px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    margin-bottom: 146px;
  }
}

.case__text {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    letter-spacing: 0;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    min-width: 435px;
    padding-right: 0;
  }
}

.case__details-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 335px;
  }
}

.case__summary {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 13px;
    margin-right: 4px;
    margin-bottom: 0;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
}

.case__summary span {
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.case__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
  }
}
