.catalog-extra {
  padding-top: 25px 0 35px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 83px;
  }
}

.catalog-extra__title {
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 83px;
  }
}

.catalog-extra__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.catalog-extra__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
}
