.catalog-page {
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.catalog-page__title {
  margin-bottom: 41px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog-page__container {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
