.contacts {
  position: relative;

  &--colored {
    background-color: $basic-gray;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 56px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 98px;
    left: 110px;
    width: 565px;
    padding: 56px 80px;
    background-color: $basic-white;
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding: 56px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 56px 80px;
      background-color: $basic-white;
    }
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__location {
  max-width: 170px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__address {
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    float: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    float: left;
  }
}

.contacts__map-container {
  height: 362px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
