.details-list {
  display: flex;
  margin: 0;
  margin-bottom: 34px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 370px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}


.details-list__item {
  min-width: 124px;
  padding-top: 15px;
  padding-bottom: 18px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid $line-color;
    border-radius: 3px;
  }

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.details-list__name {
  position: absolute;
  width: min-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-gray;
  }
}

.details-list__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
