.details-list {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}


.details-list__item {
  width: 124px;
}

.details-list__name {
  width: min-content;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
  }
}

.details-list__value {
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
