.details {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 63px;
    border-bottom: 1px solid $style-gray-300;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 26px;
    border-bottom: none;
  }
}

.details__list {
  counter-reset: details;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 96px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 79px;
  }
}

.details__item {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  counter-increment: details;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &--healthy::before {
    background-image: url("/img/icons/icon_leaf.svg");
  }

  &--fast::before {
    background-image: url("/img/icons/icon_tub.svg");
  }

  &--complete::before {
    background-image: url("/img/icons/icon_eat.svg");
  }

  &--quick::before {
    background-image: url("/img/icons/icon_alarm.svg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 63px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }


    &::after {
      content: counter(details);
      position: absolute;
      font-family: $custom-font;
      font-size: 280px;
      line-height: 1;
      color: $basic-gray;
      z-index: -1;
      top: -37px;
      left: 117px;
    }
  }
}

.details__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.details__text {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 31px;
    line-height: 24px;
  }
}
