.details-list {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 367px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}


.details-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
  padding-top: 15px;
  padding-bottom: 18px;
  border: 1px solid $line-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    padding: 15px 8px 18px;
  }
}

.details-list__name {
  width: min-content;
  margin-bottom: -25px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-gray;
  }
}

.details-list__value {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}
