.footer {
  background-color: $background-color;
}

.footer__logo {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 32px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__social {
  padding: 20px 0;
}

.footer__copyright {
  padding: 22px 0;
}

.footer__container div {
  border-top: 1px solid $line-color;
}
