.footer {
  background-color: $background-color;
}

.footer__logo {
  text-align: center;
  margin-bottom: 32px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 22px;
}

.footer__social {
  padding: 20px 0;
}

.footer__copyright {
  padding-top: 22px;
}

.footer__container div {
  border-top: 1px solid $line-color;
}
