.form-page {
  padding-top: 27px;
}

.form-page__title {
  margin-bottom: 37px;
}

.form-page__text {
  margin: 0;
  margin-bottom: 39px;
  font-family: $custom-font;
  text-transform: uppercase;
  color: $basic-black;
}
