.header__container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line-color;
}

.header__nav-toggle {
  height: 16px;
  width: 24px;
}

.header__nav {
  display: none;
  position: relative;
  z-index: 1;
}

.header__nav-list {
  position: absolute;
  left: 0;
  right: 0;
}

.header__nav--opened {
  display: flex;
}

.header__logo-text {
  padding: 24px 0;
}
