.product-extra {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $line-color;
  padding-top: 13px;
  padding-bottom: 19px;
  align-items: baseline;

  &:last-child {
    border-bottom: 1px solid $line-color;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border-left: 1px solid $line-color;
    border-right: 1px solid $line-color;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.product-extra__title {
  width: 100%;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 320px;
    padding-right: 15px;
    word-break: break-word;
  }
}

.product-extra__stats-name {
  @media (min-width: $tablet-width) {
    margin-right: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 0;
  }
}

.product-extra__stats-value {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 38px;
  }
}

.product-extra__button {
  width: 100%;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    margin-top: 0;
    flex-shrink: 0;
  }
}
