.product {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: auto auto;
}

.product__title {
  text-transform: uppercase;
  width: 80px;
  margin-bottom: 18px;
}

.product__image-link {
  display: flex;
}

.product__image {
  margin: 0 auto;
}

.product__description {
  margin-bottom: 22px;
}

.product__button {
  grid-column: 1 / -1;
}
