.products-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.products-list__item {
  position: relative;
  padding: 19px 0 25px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $line-color;
  }

  &:last-child {
    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $line-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 39px 39px;
    border: none;

    &::before,
    &::after {
      display: none;
    }

    &:last-child {
      border-bottom: 1px solid $basic-gray;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px 35px;
    border: none;
  }
}
