.radio-input__label {
  position: relative;
  display: block;
  padding: 9px 0 9px 45px;
  font-size: 16px;
  text-transform: uppercase;
  color: $style-gray-600;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-left: 59px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid $style-gray-400;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    left: 8px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: 11px;
      top: 13px;
      width: 18px;
      height: 18px;
    }
  }
}

.radio-input__control {
  &:focus-visible + .radio-input__label {
    outline: 2px solid $default-color;
    outline-offset: 2px;
  }

  &:hover + .radio-input__label::before {
    border: 1px solid $radio-hover;
  }

  &:checked + .radio-input__label::after {
    display: block;
  }

  &:disabled + .radio-input__label {
    opacity: 0.3;
    pointer-events: none;
  }
}
