.site-list {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-white;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 36px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  padding: 22px 20px 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $style-gray-300;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    margin-top: 8px;
    margin-left: 34px;
    letter-spacing: -0.4px;

    &::before {
      display: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &--active,
    &--active-index {
      border-bottom: 2px solid $basic-green;
      pointer-events: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
    margin-left: 44px;

    &:first-child {
      margin-left: 0;
    }

    &--active-index {
      border-bottom: 2px solid $basic-white;
      pointer-events: none;
    }
  }
}

.site-list__link {
  @media (max-width: $tablet-width) {
    font-weight: 500;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $basic-white;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
