.slider {
  text-align: center;
}

.slider__image {
  &--hidden {
    display: none;
  }

  &--before {
    @media (min-width: $tablet-width) {
      width: auto;
      height: 576px;
    }

    @media (min-width: $desktop-width) {
      height: 511px;
    }
  }
}

.slider__button {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
