.slider {
  text-align: center;
}

.slider__image--hidden {
  display: none;
}

.slider__button {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
