.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  padding: 10px 0;
  color: $icon-color;
  transition: 0.1s color;

  &:hover,
  &:focus-visible {
    color: $basic-green;
  }

  &:disabled {
    opacity: 0.3;
  }
}
