.stats__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid $line-color;
    letter-spacing: -1.1px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.stats__value {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 12px;
  }
}

.stats__name,
.stats__value {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
