.text-field {
  display: flex;
  height: 52px;
  margin-top: 0;
  margin-bottom: 14px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--textarea {
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.text-field__label {
  margin-right: 10px;
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $default-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.text-field__input {
  width: 100%;
  padding: 11px 15px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $style-gray-100;
  color: $default-color;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &::placeholder {
    color: $default-color;
  }

  &--error {
    border-color: $error-color;
    outline: 1px solid $error-color;
  }

  &--textarea {
    padding-top: 6px;
    resize: none;
  }

  &:hover {
    border-color: $input-hover;
  }

  &:active {
    border-color: $default-color;
    outline: 1px solid $default-color;
  }

  &:focus {
    border-color: $default-color;
  }
}
