.text-field {
  display: flex;
  height: 45px;
  margin-top: 0;
  margin-bottom: 13px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--textarea {
    height: 100%;
  }
}

.text-field__label {
  margin-right: 10px;
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $default-color;
}

.text-field__input {
  width: 100%;
  padding: 11px 15px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $style-gray-100;
  color: $default-color;

  &::placeholder {
    color: $default-color;
    text-transform: uppercase;
  }

  &--textarea {
    padding-top: 6px;
    resize: none;
  }
}
