.text-field {
  display: flex;
  height: 52px;
  margin-top: 0;
  margin-bottom: 7px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--textarea {
    height: 100%;

    &:focus {
      border-color: $default-color;
      outline: 1px solid $default-color;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  &--icon {
    position: relative;

    svg {
      position: absolute;
      right: 14px;
    }
  }
}

.text-field__label {
  margin-right: 10px;
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $default-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.text-field__input {
  width: 100%;
  padding: 11px 21px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $style-gray-100;
  color: $default-color;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &::placeholder {
    color: $default-color;
  }

  &--error {
    border-color: $error-color;
    outline: 1px solid $error-color;
  }

  &--error + svg {
    color: $error-color;
  }

  &--textarea {
    padding: 6px 13px 25px;
    resize: none;

    @media (min-width: $tablet-width) {
      padding: 6px 18px 21px;
    }
  }

  &:hover {
    border-color: $input-hover;
  }

  &:focus {
    border-color: $default-color;
    outline: 1px solid $default-color;
  }

  &:focus + svg {
    color: $basic-green;
  }

  &--icon {
    padding-right: 50px;
  }
}
