$basic-white: #ffffff;
$basic-black: #000000;

$basic-green: #68b738;
$style-green: #5eaa2f;

$basic-gray: #f2f2f2;
$style-gray-200: #eaeaea;
$style-gray-300: #d9d9d9;
$style-gray-500: #444444;

$accent-color: $basic-green;
$background-color: $style-gray-200;
$line-color: $style-gray-300;
$default-color: $style-gray-500;

$custom-font: "Oswald", "Verdana", sans-serif;
$default-font: "Arial", sans-serif;

