$basic-white: #ffffff;
$basic-black: #000000;

$basic-green: #68b738;
$style-green: #5eaa2f;

$basic-gray: #f2f2f2;
$style-gray-100: #ebebeb;
$style-gray-200: #eaeaea;
$style-gray-300: #e6e6e6;
$style-gray-400: #d9d9d9;
$style-gray-500: #444444;
$style-gray-600: #222222;


$accent-color: $basic-green;
$background-color: $style-gray-200;
$line-color: $style-gray-400;
$default-color: $style-gray-500;

$custom-font: "Oswald", "Verdana", sans-serif;
$default-font: "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
