@import "./global/colors.scss";
@import "./global/fonts.scss";
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/case.scss";
@import "./blocks/contacts.scss";
@import "./blocks/container.scss";
@import "./blocks/copyright.scss";
@import "./blocks/details.scss";
@import "./blocks/details-list.scss";
@import "./blocks/footer.scss";
@import "./blocks/header.scss";
@import "./blocks/main-page.scss";
@import "./blocks/page.scss";
@import "./blocks/program.scss";
@import "./blocks/promo.scss";
@import "./blocks/site-list.scss";
@import "./blocks/slider.scss";
@import "./blocks/social.scss";
@import "./blocks/visually-hidden.scss";

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

@mixin regular-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}
